build
.cache
c_table.txt
managed_components
/.vs/Synthia/CopilotIndices/17.13.431.34963
/.vs/Synthia/FileContentIndex
/.vs/Synthia/v17/.wsuo
/.vs/slnx.sqlite
/.vs/Synthia/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/.vs/Synthia/v17
